<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UrunSatis.Properties.Settings.SatısProgramiConnectionString"
            connectionString="Data Source=DESKTOP-7MG97MU;Initial Catalog=SatısProgrami;User ID=sa;Password=&quot;YXlhdG8=&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>