USE [master]
GO
/****** Object:  Database [SatısProgrami]    Script Date: 7.06.2022 05:36:01 ******/
CREATE DATABASE [SatısProgrami]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SatısProgrami].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SatısProgrami]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 7.06.2022 05:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [nvarchar](30) NULL,
	[MusteriTelefon] [nvarchar](11) NULL,
	[MusteriAdres] [nvarchar](100) NULL,
	[MusteriEmail] [nvarchar](30) NULL,
	[MusteriTarih] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 7.06.2022 05:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [nvarchar](50) NULL,
	[UrunMarka] [nvarchar](20) NULL,
	[UrunMiktar] [float] NULL,
	[UrunKategori] [nvarchar](50) NULL,
	[UrunAciklama] [nvarchar](100) NULL,
	[UrunTarih] [datetime] NULL,
	[UrunFiyat] [float] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriId], [MusteriAd], [MusteriTelefon], [MusteriAdres], [MusteriEmail], [MusteriTarih]) VALUES (19, N'Esma Aktaş', N'05111111111', N'İstanbul / Avcılar.', N'esmaaktas01@gmail.com', CAST(N'2022-06-07T04:58:43.460' AS DateTime))
INSERT [dbo].[Musteriler] ([MusteriId], [MusteriAd], [MusteriTelefon], [MusteriAdres], [MusteriEmail], [MusteriTarih]) VALUES (13, N'Özge', N'05222222222', N'İstanbul / Avcılar.', N'ozge@gmail.com', CAST(N'2022-06-04T13:00:42.237' AS DateTime))
INSERT [dbo].[Musteriler] ([MusteriId], [MusteriAd], [MusteriTelefon], [MusteriAdres], [MusteriEmail], [MusteriTarih]) VALUES (15, N'Ayato', N'05888888888', N'İstanbul / Avcılar.', N'Aya@gmail.com', CAST(N'2022-06-04T19:24:05.007' AS DateTime))
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunId], [UrunAd], [UrunMarka], [UrunMiktar], [UrunKategori], [UrunAciklama], [UrunTarih], [UrunFiyat]) VALUES (12, N'Harry Potter Figur', N'Toyzz Shop', 2, N'Eğlence', N'Efsane', CAST(N'2022-06-07T05:00:09.773' AS DateTime), 350)
INSERT [dbo].[Urunler] ([UrunId], [UrunAd], [UrunMarka], [UrunMiktar], [UrunKategori], [UrunAciklama], [UrunTarih], [UrunFiyat]) VALUES (9, N'RTX3090', N'Nvidia', 23, N'Teknoloji', N'Ucuyooo', CAST(N'2022-06-04T14:23:31.130' AS DateTime), 50000)
INSERT [dbo].[Urunler] ([UrunId], [UrunAd], [UrunMarka], [UrunMiktar], [UrunKategori], [UrunAciklama], [UrunTarih], [UrunFiyat]) VALUES (13, N'Su', N'Esmaktas', 3, N'İçecek', N'Kanakana ic', CAST(N'2022-06-07T05:00:49.463' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
USE [master]
GO
